<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О медикаментах</title>
</head>

<style>
    .about{
    text-align: center;
    }

     </style>

<body>
<div class="about">
<h1> О медикаментах </h1>
<p>Основные правила приема таблеток</p>
<p>*</p>

<p>Проконсультироваться с врачом перед тем, как пить лекарство.</p>
<p>Следовать графику приема лекарств.</p>
<p>Внимательно читать инструкцию.</p>
<p>Запивать лекарства только водой.</p>
<p>Принимать лекарство в количестве, указанном в назначении.</p>
<p>Правильно хранить лекарства.</p>
    <p>*</p>

<p>Некоторые лекарства могут вызвать анафилактический шок. Анафилактический шок — резкая обостряющаяся, особо опасная аллергическая реакция. Ознакомьтесь с его первыми симптомами. </p>
<p>Первые симптомы анафилактического шока:</p>
<p>- резкое повышение температуры тела;</p>
<p>- боли в груди;</p>
<p>- головная боль;</p>
<p>- страх смерти.</p>
    <p>Последующие симптомы могут развиваться в ходе нескольких минут:</p>
<p>- одышка;</p>
<p>- судороги;</p>
<p>- потеря сознания;</p>
    <p>- дефекация;</p>
<p>- инсульт.</p>
        <p>Неотложная помощь при анафилактическом шоке:</p>
<p>При первых же симптомах анафилактического шока, Вы должны незамедлительно вызвать врача!</p>
<p>- остановить поступление аллергена в организм — наложить жгут выше места укуса насекомого или введения лекарственного препарата;</p>
<p>- обеспечить пострадавшему горизонтальное положение;</p>
    <p>- склонить голову на бок — для того, чтобы пострадавший не захлебнулся рвотной массой и не повредил язык;</p>
<p>- освободить от одежды шею, грудь и живот;</p>
    <p>- обеспечить поступление свежего воздуха.</p>
    </div>
</body>
</html>